In [28]:
import dtale
import pandas as pd
from sqlalchemy import create_engine
import matplotlib.pyplot as plt
import numpy as np

Read CSV from Kaggle

In [2]:
show_file = "Resources/netflix_titles.csv"
show_df = pd.read_csv(show_file)
show_df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,81145628,Movie,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China",9-Sep-19,2019,TV-PG,90 min,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...
1,80117401,Movie,Jandino: Whatever it Takes,NaN,Jandino Asporaat,United Kingdom,9-Sep-16,2016,TV-MA,94 min,Stand-Up Comedy,Jandino Asporaat riffs on the challenges of ra...
2,70234439,TV Show,Transformers Prime,NaN,"Peter Cullen, Sumalee Montano, Frank Welker, J...",United States,8-Sep-18,2013,TV-Y7-FV,1 Season,Kids' TV,"With the help of three human allies, the Autob..."
3,80058654,TV Show,Transformers: Robots in Disguise,NaN,"Will Friedle, Darren Criss, Constance Zimmer, ...",United States,8-Sep-18,2016,TV-Y7,1 Season,Kids' TV,When a prison ship crash unleashes hundreds of...
4,80125979,Movie,#realityhigh,Fernando Lebrija,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,8-Sep-17,2017,TV-14,99 min,Comedies,When nerdy high schooler Dani finally attracts...

In [17]:
new_show_df=show_df[["show_id", "type","title","release_year","rating"]]
new_show_df

,show_id,type,title,release_year,rating
0,81145628,Movie,Norm of the North: King Sized Adventure,2019,TV-PG
1,80117401,Movie,Jandino: Whatever it Takes,2016,TV-MA
2,70234439,TV Show,Transformers Prime,2013,TV-Y7-FV
3,80058654,TV Show,Transformers: Robots in Disguise,2016,TV-Y7
4,80125979,Movie,#realityhigh,2017,TV-14
...,...,...,...,...,...
6229,80000063,TV Show,Red vs. Blue,2015,NR
6230,70286564,TV Show,Maron,2016,TV-MA
6231,80116008,Movie,Little Baby Bum: Nursery Rhyme Friends,2016,NaN
6232,70281022,TV Show,A Young Doctor's Notebook and Other Stories,2013,TV-MA
6233,70153404,TV Show,Friends,2003,TV-14

Read csv from data.world

In [4]:
user_rating_file = "Resources/netflix_stuff.csv"
user_rating_df = pd.read_csv(user_rating_file)
user_rating_df.head()

,title,rating,ratingLevel,ratingDescription,release year,user rating score,user rating size
0,White Chicks,PG-13,"crude and sexual humor, language and some drug...",80,2004,82.0,80
1,Lucky Number Slevin,R,"strong violence, sexual content and adult lang...",100,2006,NaN,82
2,Grey's Anatomy,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2016,98.0,80
3,Prison Break,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2008,98.0,80
4,How I Met Your Mother,TV-PG,Parental guidance suggested. May not be suitab...,70,2014,94.0,80

In [5]:
new_user_rating_df=user_rating_df[["title","release year","rating","user rating score","user rating size"]]
new_user_rating_df

,title,release year,rating,user rating score,user rating size
0,White Chicks,2004,PG-13,82.0,80
1,Lucky Number Slevin,2006,R,NaN,82
2,Grey's Anatomy,2016,TV-14,98.0,80
3,Prison Break,2008,TV-14,98.0,80
4,How I Met Your Mother,2014,TV-PG,94.0,80
...,...,...,...,...,...
995,The BFG,2016,PG,97.0,80
996,The Secret Life of Pets,2016,PG,NaN,81
997,Precious Puppies,2003,TV-G,NaN,82
998,Beary Tales,2013,TV-G,NaN,82
999,Growing Up Wild,2016,G,80.0,80

In [6]:
clean_user_rating_df=new_user_rating_df.rename(columns={"release year": "release_year",
                                                          "user rating score": "user_rating_score",
                                                          "user rating size": "user_rating_size"})
clean_user_rating_df.head()

,title,release_year,rating,user_rating_score,user_rating_size
0,White Chicks,2004,PG-13,82.0,80
1,Lucky Number Slevin,2006,R,NaN,82
2,Grey's Anatomy,2016,TV-14,98.0,80
3,Prison Break,2008,TV-14,98.0,80
4,How I Met Your Mother,2014,TV-PG,94.0,80

In [7]:
user_rating_copy_df=clean_user_rating_df.copy()
user_rating_copy_df

,title,release_year,rating,user_rating_score,user_rating_size
0,White Chicks,2004,PG-13,82.0,80
1,Lucky Number Slevin,2006,R,NaN,82
2,Grey's Anatomy,2016,TV-14,98.0,80
3,Prison Break,2008,TV-14,98.0,80
4,How I Met Your Mother,2014,TV-PG,94.0,80
...,...,...,...,...,...
995,The BFG,2016,PG,97.0,80
996,The Secret Life of Pets,2016,PG,NaN,81
997,Precious Puppies,2003,TV-G,NaN,82
998,Beary Tales,2013,TV-G,NaN,82
999,Growing Up Wild,2016,G,80.0,80

In [8]:
null_rating_df=user_rating_copy_df[user_rating_copy_df['user_rating_score'].isnull()]
null_rating_df.head()

,title,release_year,rating,user_rating_score,user_rating_size
1,Lucky Number Slevin,2006,R,NaN,82
14,The Hunter,2011,R,NaN,82
15,Lottie Dottie Chicken,2009,TV-Y,NaN,82
21,"Ã“ Pai, Ã“ - Look at This",2007,TV-MA,NaN,82
22,Nymphomaniac: Volume 1,2013,NR,NaN,82

In [9]:
not_null_rating_df=user_rating_copy_df[user_rating_copy_df['user_rating_score'].notnull()]
not_null_rating_df

,title,release_year,rating,user_rating_score,user_rating_size
0,White Chicks,2004,PG-13,82.0,80
2,Grey's Anatomy,2016,TV-14,98.0,80
3,Prison Break,2008,TV-14,98.0,80
4,How I Met Your Mother,2014,TV-PG,94.0,80
5,Supernatural,2016,TV-14,95.0,80
...,...,...,...,...,...
986,PokÃ©mon: Indigo League,2000,TV-Y,74.0,80
988,Paddington,2014,PG,70.0,80
991,Dawn of the Croods,2017,TV-Y7,72.0,80
995,The BFG,2016,PG,97.0,80
999,Growing Up Wild,2016,G,80.0,80

In [ ]:
# not_null_groupby_rating_df=not_null_rating_df.groupby('rating')
# not_null_groupby_rating_df.first()

Merged the cleaned rating data with the dataset from Kaggle

In [18]:
merge_df = pd.merge(not_null_rating_df, new_show_df, on="title", how="outer")
merge_df

,title,release_year_x,rating_x,user_rating_score,user_rating_size,show_id,type,release_year_y,rating_y
0,White Chicks,2004.0,PG-13,82.0,80.0,NaN,NaN,NaN,NaN
1,Grey's Anatomy,2016.0,TV-14,98.0,80.0,70140391.0,TV Show,2018.0,TV-14
2,Grey's Anatomy,2016.0,TV-14,98.0,80.0,70140391.0,TV Show,2018.0,TV-14
3,Grey's Anatomy,2016.0,TV-14,98.0,80.0,70140391.0,TV Show,2018.0,TV-14
4,Grey's Anatomy,2016.0,TV-14,98.0,80.0,70140391.0,TV Show,2018.0,TV-14
...,...,...,...,...,...,...,...,...,...
6709,The Adventures of Figaro Pho,NaN,NaN,NaN,NaN,80005756.0,TV Show,2015.0,TV-Y7
6710,Kikoriki,NaN,NaN,NaN,NaN,80159925.0,TV Show,2010.0,TV-Y
6711,Red vs. Blue,NaN,NaN,NaN,NaN,80000063.0,TV Show,2015.0,NR
6712,Maron,NaN,NaN,NaN,NaN,70286564.0,TV Show,2016.0,TV-MA
6713,A Young Doctor's Notebook and Other Stories,NaN,NaN,NaN,NaN,70281022.0,TV Show,2013.0,TV-MA

In [19]:
merge_df.drop_duplicates()

,title,release_year_x,rating_x,user_rating_score,user_rating_size,show_id,type,release_year_y,rating_y
0,White Chicks,2004.0,PG-13,82.0,80.0,NaN,NaN,NaN,NaN
1,Grey's Anatomy,2016.0,TV-14,98.0,80.0,70140391.0,TV Show,2018.0,TV-14
7,Prison Break,2008.0,TV-14,98.0,80.0,NaN,NaN,NaN,NaN
14,How I Met Your Mother,2014.0,TV-PG,94.0,80.0,NaN,NaN,NaN,NaN
19,Supernatural,2016.0,TV-14,95.0,80.0,70143825.0,TV Show,2019.0,TV-14
...,...,...,...,...,...,...,...,...,...
6709,The Adventures of Figaro Pho,NaN,NaN,NaN,NaN,80005756.0,TV Show,2015.0,TV-Y7
6710,Kikoriki,NaN,NaN,NaN,NaN,80159925.0,TV Show,2010.0,TV-Y
6711,Red vs. Blue,NaN,NaN,NaN,NaN,80000063.0,TV Show,2015.0,NR
6712,Maron,NaN,NaN,NaN,NaN,70286564.0,TV Show,2016.0,TV-MA
6713,A Young Doctor's Notebook and Other Stories,NaN,NaN,NaN,NaN,70281022.0,TV Show,2013.0,TV-MA

Cleaned the data to get rid of any null values in user rating column.

In [20]:
with_rating_score_merge_df=merge_df[merge_df['user_rating_score'].notnull()]
with_rating_score_merge_df

,title,release_year_x,rating_x,user_rating_score,user_rating_size,show_id,type,release_year_y,rating_y
0,White Chicks,2004.0,PG-13,82.0,80.0,NaN,NaN,NaN,NaN
1,Grey's Anatomy,2016.0,TV-14,98.0,80.0,70140391.0,TV Show,2018.0,TV-14
2,Grey's Anatomy,2016.0,TV-14,98.0,80.0,70140391.0,TV Show,2018.0,TV-14
3,Grey's Anatomy,2016.0,TV-14,98.0,80.0,70140391.0,TV Show,2018.0,TV-14
4,Grey's Anatomy,2016.0,TV-14,98.0,80.0,70140391.0,TV Show,2018.0,TV-14
...,...,...,...,...,...,...,...,...,...
605,Blank Check,1994.0,PG,93.0,80.0,NaN,NaN,NaN,NaN
606,Heavyweights,1995.0,PG,74.0,80.0,NaN,NaN,NaN,NaN
607,D2: The Mighty Ducks,1994.0,PG,70.0,80.0,NaN,NaN,NaN,NaN
608,"Honey, I Shrunk the Kids",1989.0,PG,80.0,80.0,NaN,NaN,NaN,NaN
609,H2O: Just Add Water,2009.0,TV-PG,74.0,80.0,70180051.0,TV Show,2009.0,TV-PG

In [29]:
dtale.show(with_rating_score_merge_df, ignore_duplicate=True)

In [30]:
cleaned_movie_list_df= with_rating_score_merge_df.loc[(with_rating_score_merge_df['rating_x']=='G')|
                                                      (with_rating_score_merge_df['rating_x']=='NR')|
                                                      (with_rating_score_merge_df['rating_x']=='PG')|
                                                      (with_rating_score_merge_df['rating_x']=='PG-13')|
                                                      (with_rating_score_merge_df['rating_x']=='R')
                                                     ]
cleaned_movie_list_df=cleaned_movie_list_df.reset_index(drop=True)
dtale.show(cleaned_movie_list_df, ignore_duplicate=True)

In [42]:
cleaned_movie_list_df["type"].fillna("Movie", inplace = True)
cleaned_movie_list_df
cleaned_movie_list_df=cleaned_movie_list_df.reset_index(drop=True)
dtale.show(cleaned_movie_list_df, ignore_duplicate=True)

In [49]:
#
cleaned_movie_list_df.loc[(cleaned_movie_list_df['title']=='The Jungle Book')|
                                               (cleaned_movie_list_df['title']=='Goosebumps')|
                                               (cleaned_movie_list_df['title']=='Dope')]
cleaned_movie_list_df['type']=cleaned_movie_list_df['type'].replace(['TV Show'], 'Movie')


#
cleaned_movie_list_df.loc[(cleaned_movie_list_df['title']=='The 100')|
                                               (cleaned_movie_list_df['title']=='Hunter X Hunter (2011)')]
cleaned_movie_list_df['rating_x']=cleaned_movie_list_df['rating_x'].replace(['NR'], 'TV-14')



cleaned_movie_list_df=cleaned_movie_list_df.reset_index(drop=True)
dtale.show(cleaned_movie_list_df, ignore_duplicate=True)

In [33]:
# Reference to figure out how many TV Shows were in the movie list
tvshow_in_movie_list_df=cleaned_movie_list_df.loc[(cleaned_movie_list_df['type']=='TV Show')  ]
tvshow_in_movie_list_df=tvshow_in_movie_list_df.reset_index(drop=True)
dtale.show(tvshow_in_movie_list_df, ignore_duplicate=True)

In [38]:
# Reference to figure out how many TV Shows were in the movie list
tvshow_in_movie_list_df

,title,release_year_x,rating_x,user_rating_score,user_rating_size,show_id,type,release_year_y,rating_y
0,The 100,2016.0,NR,97.0,80.0,70283264.0,TV Show,2019.0,TV-14
3,Hunter X Hunter (2011),2013.0,NR,57.0,80.0,70300472.0,TV Show,2013.0,TV-MA
4,Dope,2015.0,R,79.0,80.0,80178726.0,TV Show,2019.0,TV-MA
5,The Jungle Book,2016.0,PG,97.0,80.0,70287630.0,TV Show,2010.0,TV-Y7
9,Goosebumps,2015.0,PG,90.0,80.0,70264616.0,TV Show,1998.0,TV-Y7

In [32]:
#TV Show List
cleaned_tvshow_list_df= with_rating_score_merge_df.loc[(with_rating_score_merge_df['rating_x']=='TV-14')|
                                                      (with_rating_score_merge_df['rating_x']=='TV-G')|
                                                      (with_rating_score_merge_df['rating_x']=='TV-MA')|
                                                      (with_rating_score_merge_df['rating_x']=='TV-PG')|
                                                      (with_rating_score_merge_df['rating_x']=='TV-Y')|
                                                      (with_rating_score_merge_df['rating_x']=='TV-Y7')|
                                                      (with_rating_score_merge_df['rating_x']=='TV-Y7-FV')                                                       
                                                     ]
cleaned_tvshow_list_df=cleaned_tvshow_list_df.reset_index(drop=True)
dtale.show(cleaned_tvshow_list_df, ignore_duplicate=True)

In [50]:
cleaned_tvshow_list_df["type"].fillna("TV Show", inplace = True)
cleaned_tvshow_list_df=cleaned_tvshow_list_df.reset_index(drop=True)
dtale.show(cleaned_tvshow_list_df, ignore_duplicate=True)

In [55]:
# Reference to figure out how many movies were in the TV Show list
movie_in_tv_list_df=cleaned_tvshow_list_df.loc[(cleaned_tvshow_list_df['type']=='Movie')  ]
movie_in_tv_list_df=movie_in_tv_list_df.reset_index(drop=True)
dtale.show(movie_in_tv_list_df, ignore_duplicate=True)

movie_in_tv_list_df.drop_duplicates()

,title,release_year_x,rating_x,user_rating_score,user_rating_size,show_id,type,release_year_y,rating_y
0,Death Note,2006.0,TV-14,77.0,80.0,80122759.0,Movie,2017.0,TV-MA
1,The Do-Over,2016.0,TV-MA,84.0,80.0,80063265.0,Movie,2016.0,TV-MA
2,Sand Castle,2017.0,TV-MA,89.0,80.0,80118916.0,Movie,2017.0,TV-MA
4,Sandy Wexler,2017.0,TV-14,92.0,80.0,80126569.0,Movie,2017.0,TV-14
8,Louis C.K. 2017,2017.0,TV-MA,71.0,80.0,80161109.0,Movie,2017.0,NaN
9,Little Boxes,2016.0,TV-14,61.0,80.0,80107736.0,Movie,2016.0,TV-14
10,Limitless,2016.0,TV-14,84.0,80.0,81191254.0,Movie,2017.0,TV-PG
11,Limitless,2016.0,TV-14,84.0,80.0,70142827.0,Movie,2011.0,PG-13
14,Walt Disney Animation Studios Short Films Coll...,2015.0,TV-G,84.0,80.0,80062011.0,Movie,2015.0,TV-G

Executing shutdown due to inactivity...

2020-12-05 13:55:10,674 - INFO     - Executing shutdown due to inactivity...

Executing shutdown...

2020-12-05 13:55:14,845 - INFO     - Executing shutdown...

Cleaned the data to get rid of any null values in type column because we later need to compare between TV shows and Movies.

In [13]:
with_rating_score_n_type_merge_df=with_rating_score_merge_df[with_rating_score_merge_df['type'].notnull()]
with_rating_score_n_type_merge_df

,title,release_year_x,rating_x,user_rating_score,user_rating_size,type,release_year_y,rating_y
1,Grey's Anatomy,2016.0,TV-14,98.0,80.0,TV Show,2018.0,TV-14
2,Grey's Anatomy,2016.0,TV-14,98.0,80.0,TV Show,2018.0,TV-14
3,Grey's Anatomy,2016.0,TV-14,98.0,80.0,TV Show,2018.0,TV-14
4,Grey's Anatomy,2016.0,TV-14,98.0,80.0,TV Show,2018.0,TV-14
5,Grey's Anatomy,2016.0,TV-14,98.0,80.0,TV Show,2018.0,TV-14
...,...,...,...,...,...,...,...,...
587,Balto,1995.0,G,64.0,80.0,Movie,1995.0,G
594,The Pirate Fairy,2014.0,G,57.0,80.0,Movie,2014.0,G
595,The Pirate Fairy,2014.0,G,57.0,80.0,Movie,2014.0,G
596,The Pirate Fairy,2014.0,G,57.0,80.0,Movie,2014.0,G
609,H2O: Just Add Water,2009.0,TV-PG,74.0,80.0,TV Show,2009.0,TV-PG

seperated

In [14]:
with_rating_score_n_type_merge_groupby_df=with_rating_score_n_type_merge_df.groupby(['type'])
with_rating_score_n_type_merge_groupby_df.count()

,title,release_year_x,rating_x,user_rating_score,user_rating_size,release_year_y,rating_y
type,,,,,,,
Movie,57,57,57,57,57,57,56
TV Show,272,272,272,272,272,272,272

In [15]:
with_rating_score_n_type_merge_groupby_df=with_rating_score_n_type_merge_df.groupby(['rating_x'])
with_rating_score_n_type_merge_groupby_df.count()

,title,release_year_x,user_rating_score,user_rating_size,type,release_year_y,rating_y
rating_x,,,,,,,
G,25,25,25,25,25,25,25
NR,4,4,4,4,4,4,4
PG,16,16,16,16,16,16,16
PG-13,2,2,2,2,2,2,2
R,3,3,3,3,3,3,3
TV-14,122,122,122,122,122,122,122
TV-G,10,10,10,10,10,10,10
TV-MA,85,85,85,85,85,85,84
TV-PG,29,29,29,29,29,29,29
TV-Y,16,16,16,16,16,16,16
TV-Y7,4,4,4,4,4,4,4
TV-Y7-FV,13,13,13,13,13,13,13

In [16]:
with_rating_score_n_type_merge_groupby_df=with_rating_score_n_type_merge_df.groupby(['rating_y'])
with_rating_score_n_type_merge_groupby_df.count()

,title,release_year_x,rating_x,user_rating_score,user_rating_size,type,release_year_y
rating_y,,,,,,,
G,25,25,25,25,25,25,25
PG,11,11,11,11,11,11,11
PG-13,4,4,4,4,4,4,4
R,2,2,2,2,2,2,2
TV-14,119,119,119,119,119,119,119
TV-G,9,9,9,9,9,9,9
TV-MA,92,92,92,92,92,92,92
TV-PG,27,27,27,27,27,27,27
TV-Y,16,16,16,16,16,16,16
TV-Y7,10,10,10,10,10,10,10
TV-Y7-FV,13,13,13,13,13,13,13

In [25]:
cleaned_merge_df=with_rating_score_n_type_merge_df[["title","release_year_x","rating_x","user_rating_score","user_rating_size", "type"]]
cleaned_merge_df.rename(columns={"release_year_x": "release_year",
                                  "rating_x": "rating"})
cleaned_merge_df

,title,release_year_x,rating_x,user_rating_score,user_rating_size,type
1,Grey's Anatomy,2016.0,TV-14,98.0,80.0,TV Show
2,Grey's Anatomy,2016.0,TV-14,98.0,80.0,TV Show
3,Grey's Anatomy,2016.0,TV-14,98.0,80.0,TV Show
4,Grey's Anatomy,2016.0,TV-14,98.0,80.0,TV Show
5,Grey's Anatomy,2016.0,TV-14,98.0,80.0,TV Show
...,...,...,...,...,...,...
587,Balto,1995.0,G,64.0,80.0,Movie
594,The Pirate Fairy,2014.0,G,57.0,80.0,Movie
595,The Pirate Fairy,2014.0,G,57.0,80.0,Movie
596,The Pirate Fairy,2014.0,G,57.0,80.0,Movie
609,H2O: Just Add Water,2009.0,TV-PG,74.0,80.0,TV Show

In [26]:
cleaned_merge_df.drop_duplicates()

,title,release_year_x,rating_x,user_rating_score,user_rating_size,type
1,Grey's Anatomy,2016.0,TV-14,98.0,80.0,TV Show
19,Supernatural,2016.0,TV-14,95.0,80.0,TV Show
22,Breaking Bad,2013.0,TV-MA,97.0,80.0,TV Show
25,The Vampire Diaries,2017.0,TV-14,91.0,80.0,TV Show
31,The Walking Dead,2015.0,TV-MA,98.0,80.0,TV Show
...,...,...,...,...,...,...
561,Bunk'd,2016.0,TV-G,61.0,80.0,TV Show
579,An American Tail,1986.0,G,67.0,80.0,Movie
583,Balto,1995.0,G,64.0,80.0,Movie
594,The Pirate Fairy,2014.0,G,57.0,80.0,Movie
609,H2O: Just Add Water,2009.0,TV-PG,74.0,80.0,TV Show